@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: Raleway;
}

html {
    background-color: #272727;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    padding: 5px 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #272727;
    color: #ff652f;
}

.brand-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #ff652f;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

#container{
    display: flex;
    /* border: 1px solid white; */
    margin: 0px;
    margin-top: 70px;
    padding: 20px 0px;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #14a76c; */
}

#imgDiv{
    width: 40%;
}

#imgDiv > img{
    width: 100%;
    filter: invert(100%)
    /* filter: saturate(7); */
    /* filter: color(red); */
}

.white{
    color: #ff652f;
}

.green{
    color: #ffe400;
}

#container>div:first-child>h4 {
    font-size: 25px;
    margin-bottom: -30px;
    /* border: 1px solid skyblue; */
}

#container>div:first-child>h1 {
    font-size: 60px;
    margin-bottom: -20px;
    /* border: 1px solid skyblue; */
}

#container > div:first-child > h2 {
    font-size: 40px;
    /* border: 1px solid skyblue; */
}