@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: Raleway;
}

html {
    background-color: #272727;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    box-shadow: 0px 5px 5px #ff652f;
    top: 0px;
    width: 100%;
    z-index: 100;
    position: sticky;
    padding: 5px 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #272727;
    color: #ff652f;
}

.brand-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #ff652f;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* @media (max-width: 800px) {

} */

/* .resume{
    color: #272727;
    background-color: #ff652f;
    border: 2px solid #ff652f;
    text-align: center;
    border-radius: 10px;
    padding: -10px -10px;
}

.resume:hover {
    background-color: #272727;
    color: #ff652f;
} */

.white {
    color: #ff652f;
}

.green {
    color: #ffe400;
}

.h3Height {
    line-height: 28px;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.weight{
    font-weight: 900;
}


#container {
    display: flex;
    /* border: 1px solid white; */
    margin: 0px;
    margin-top: 180px;
    padding: 20px 0px;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #14a76c; */
}

#containerResume{
    background-color: #ff652f;
    border: 2px solid #ff652f;
    color: #272727;
    text-decoration: none;
    border-radius: 10px;
    padding: 12px 15px;
}

#containerResume:hover{
    background-color: #272727;
    color: #ff652f;
    border: 2px solid #ff652f;
}

#imgDiv {
    width: 40%;
}

#imgDiv>img {
    width: 100%;
    filter: invert(100%)
        /* filter: saturate(7); */
        /* filter: color(red); */
}

#container>div:first-child>h4 {
    font-size: 25px;
    margin-bottom: -30px;
    /* border: 1px solid skyblue; */
}

#container>div:first-child>h1 {
    font-size: 60px;
    margin-bottom: -20px;
    /* border: 1px solid skyblue; */
}

#container>div:first-child>h2 {
    font-size: 40px;
    /* border: 1px solid skyblue; */
}

#aboutme {
    display: flex;
    width: 70%;
    margin: auto;
    /* margin-top: 60px; */
    /* margin-bottom: 100px; */
    justify-content: space-between;
    /* border: 1px solid wheat; */
}

#aboutme>div:first-child {
    width: 25%;
    height: auto;
    /* border: 1px solid white; */
}

#aboutme>div:nth-child(2) {
    width: 60%;
}

#aboutme>div:nth-child(2)>p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    /* font-weight: 500; */
    /* line-height: 25px; */
}

#aboutme>div:first-child>img {
    width: 100%;
    border: 2px solid #ff652f;
    border-radius: 50%;
    /* border-radius: 120px 20px 120px 20px; */
    margin: 20px 0px;
}

#container+h1 {
    /* font-weight: 900; */
    margin-top: 110px;
}

.heading {
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

#skill {
    display: grid;
    width: 70%;
    margin: auto;
    /* border: 1px solid wheat; */
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 30px;
}

#skill>div {
    border: 5px solid #ff652f;
    border-radius: 15px;
    /* box-shadow: 0 5px 15px rgb(73 73 73 / 35%); */
    /* box-shadow: #ff652f 0 3px 10px, #ff652f 0 4px 4px; */
    padding: 30px 20px 10px;
    text-align: center;
}

#skill>div>div {
    /* border: 1px solid white; */
    height: 70%;
}

#skill>div>div>img {
    width: 60%;
}


/* =============== */

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s linear;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);

}

.arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

[id^="item"] {
    display: none;
}

/* NYKAA */
.item-1 {
    z-index: 2;
    opacity: 1;
    background: url('./Media/Nykaa1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.item-2 {
    background: url('./Media/Nykaa2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.item-3 {
    background: url('./Media/Nykaa3.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.item-4 {
    background: url('./Media/Nykaa4.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

*:target~.item-1 {
    opacity: 0;
}

#item-1:target~.item-1 {
    opacity: 1;

}

#item-2:target~.item-2,
#item-3:target~.item-3,
#item-4:target~.item-4 {
    z-index: 3;
    opacity: 1;
}

/* MeetUp */

[id^="meetup"] {
    display: none;
}

.meetup-1 {
    z-index: 2;
    opacity: 1;
    background: url('./Media/Meetup1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.meetup-2 {
    background: url('./Media/Meetup2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

*:target~.meetup-1 {
    opacity: 0;
}

#meetup-1:target~.meetup-1 {
    opacity: 1;

}

#meetup-2:target~.meetup-2

/* #item-3:target~.item-3,
#item-4:target~.item-4 */
    {
    z-index: 3;
    opacity: 1;
}

/* MailChamp  */

[id^="mail"] {
    display: none;
}

.mail-1 {
    z-index: 2;
    opacity: 1;
    background: url('./Media/mail1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mail-2 {
    background: url('./Media/mail2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mail-3 {
    background: url('./Media/mail3.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mail-4 {
    background: url('./Media/mail4.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

*:target~.mail-1 {
    opacity: 0;
}

#mail-1:target~.mail-1 {
    opacity: 1;
}

#mail-2:target~.mail-2,
#mail-3:target~.mail-3,
#mail-4:target~.mail-4 {
    z-index: 3;
    opacity: 1;
}

/* myhours */

[id^="myhours"] {
    display: none;
}

.myhours-1 {
    z-index: 2;
    opacity: 1;
    background: url('./Media/myhours1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.myhours-2 {
    background: url('./Media/myhours2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.myhours-3 {
    background: url('./Media/myhours3.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.myhours-4 {
    background: url('./Media/myhours4.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

*:target~.myhours-1 {
    opacity: 0;
}

#myhours-1:target~.myhours-1 {
    opacity: 1;

}

#myhours-2:target~.myhours-2,
#myhours-3:target~.myhours-3,
#myhours-4:target~.myhours-4 {
    z-index: 3;
    opacity: 1
}
/* #projects { */
/* height: auto; */
/* height: 200vh; */
/* margin-top: 40px; */
/* border: 2px solid wheat; */
/* } */

#projects {
    /* border: 2px solid white; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: auto;
    /* grid-template-rows: 50% 50%; */
    gap: 50px;
    /* height: auto; */
    /* height: 200vh; */
    /* margin-top: 30px; */
}

.carousel-wrapper {
    height: 230px;
    position: relative;
    width: 100%;
    display: block;
    /* margin: 20px auto; */
    /* border: 2px solid black; */
}

.project-card {
    border: 5px solid #ff652f;
    height: auto;
    display: flex;
    flex-direction: column;
    /* box-shadow: #0078ff 0 3px 3px,#0078ff 0 4px 4px; */
    padding: 20px 25px;
    border-radius: 1rem;
    /* background-color: #; */
}

.project-card:hover {
    /* background-color: aqua; */
    transform: scale(1.02);
    transition: 0.4s;
}

.project-btn-div {
    display: flex;
    justify-content: space-between;
}

.project-btn-div>button {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ff652f;
    font-weight: 900;
}

#contact{
    display: flex;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    /* padding: 20px 0px; */
    justify-content: space-between;
    /* border: 1px solid wheat; */
}

#contact>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid wheat; */
}

#contact>div:nth-child(1)>a{
    text-decoration: none;
}

#contact>div:nth-child(2){
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    /* display: flex;
    flex-direction: column; */
}

#contactForm{
    /* border: 1px solid skyblue; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputClass{
    width: 400px;
    border: 2px solid #ff652f;
    color: #ffe400;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #272727;
}

#contactSubmit{
    color: #272727;
    font-size: 16px;
    /* text-align: center; */
    width: 20%;
    padding: 8px 10px;
    margin-bottom: 20px;
    border: 2px solid #ff652f;
    border-radius: 10px;
    background-color: #ff652f;
}

#contactSubmit:hover{
    color: #ff652f;
    background-color: #272727;
    cursor: pointer;
}

#contactMessage{
    resize: vertical;
}

::placeholder {
    color: #ff652f;
    opacity: 70%;
}

#GitHub{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}
