@media screen and (max-width: 767px) {
  /* html {
        font-size: 45%;
    } */

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .brand-title {
    font-size: 18px;
    font-weight: 900;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  /* classes */
  .heading {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #container {
    flex-direction: column-reverse;
    margin-top: 90px;
  }

  #container > :first-child {
    width: 90%;
    margin: auto;
  }

  #container > div:first-child > h1 {
    font-size: 42px;
    margin-top: 40px;
    margin-bottom: -20px;
    /* border: 1px solid skyblue; */
  }

  #container > div:first-child > h2 {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* border: 1px solid skyblue; */
  }

  #imgDiv {
    width: 70%;
  }

  #aboutme {
    flex-direction: column;
    width: 90%;
  }

  #aboutme > div:first-child {
    width: 80%;
    margin: auto;
  }

  #aboutme > div:nth-child(2) {
    width: 100%;
  }

  #aboutme > div:nth-child(2) > p {
    font-size: 16px;
  }

  .skill {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 25px;
  }

  #sd {
    margin-top: -5px;
  }

  #projects {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    margin: auto;
    gap: 30px;
  }

  .carousel-wrapper {
    height: 150px;
  }

  .project-card {
    height: auto;
    padding: 10px 15px;
    /* padding-top: -40px; */
    border-radius: 1rem;
  }

  .project-btn-div > button {
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    padding: 4px 7px;
    border-radius: 5px;
    background-color: #ff652f;
    font-weight: 900;
  }

  #contact {
    flex-direction: column-reverse;
    width: 90%;
  }

  .inputClass {
    width: 100%;
  }

  #contactSubmit {
    font-size: 16px;
    width: 24%;
    padding: 8px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .calendar {
    /* border: 2px solid white; */
    /* width: 20%; */
    width: 90%;
    margin: auto;
    min-height: 0px;
    margin-bottom: 20px;
    margin-top: -10px;
  }

  .calendar > * {
    /* width: 80%; */
    zoom: 45%;
  }

  #GitHub {
    display: flex;
    flex-direction: column;
    width: 90%;
    grid-row-gap: 20px;
    margin: auto;
    justify-content: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  /* html {
        font-size: 45%;
    } */

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .brand-title {
    font-weight: 900;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  /* classes */
  .heading {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #container {
    flex-direction: column-reverse;
    margin-top: 90px;
  }

  #container > :first-child {
    width: 80%;
    margin: auto;
  }

  #imgDiv {
    width: 70%;
  }

  #aboutme {
    flex-direction: column;
    width: 80%;
  }

  #aboutme > div:first-child {
    width: 50%;
    margin: auto;
  }

  #aboutme > div:nth-child(2) {
    width: 100%;
  }

  #aboutme > div:nth-child(2) > p {
    font-size: 22px;
  }

  .skill {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 25px;
  }

  #projects {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin: auto;
    gap: 30px;
  }

  .carousel-wrapper {
    height: 280px;
  }

  .project-card {
    height: auto;
    padding: 20px 25px;
    /* padding-top: -40px; */
    border-radius: 1rem;
  }

  #contact {
    /* flex-direction: column-reverse; */
    width: 80%;
  }

  .inputClass {
    width: 100%;
  }

  #contactSubmit {
    font-size: 16px;
    width: 38%;
    padding: 8px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .calendar {
    /* border: 2px solid white; */
    /* width: 20%; */
    width: 90%;
    margin: auto;
    min-height: 0px;
    margin-bottom: 20px;
    margin-top: -10px;
  }

  .calendar > * {
    /* width: 80%; */
    zoom: 80%;
  }

  #GitHub {
    display: flex;
    flex-direction: column;
    width: 80%;
    grid-row-gap: 20px;
    margin: auto;
    justify-content: none;
  }
}
